
* {
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
}
html {
    font-size: 100%; /* 100% = 16px */
}
body {
    padding: 0;
    margin: 0;
}
h3 {
    text-align: center;
}
.producto {
    float:left;
    margin:15px;
    width:400px;
    height:400px;
    text-align:center;
    border: 1px solid #ccc;
    border-radius: 5px;
}
.btn {
    margin: 5px;
}
.bg-dark {
    background: linear-gradient(81deg, rgba(32,24,168,1) 0%, rgba(73,9,121,1) 61%, rgba(0,212,255,1) 100%);
}
/*Estilos para el FORMULARIO*/
.miForm {
    background: linear-gradient(81deg, rgba(32,24,168,1) 0%, rgba(73,9,121,1) 61%, rgba(0,212,255,1) 100%);
    color: #fff;
    text-align: left;
    max-width: 40%;
    margin: 10px auto;
    border-radius: 10px;
    padding: 20px 0 10px 0;
}
.camposForm {
    margin: 20px 50px;
}
input, textarea {
    width: 100%;
    border: 0;
}
select {
    padding: 10px 0;
    width: 100%;
    border: 0;
}
.botonForm {
    padding: 10px;
    text-align: center;
}
.botonForm button {
    height: 50px;
    width: 200px;
    background: linear-gradient(to top, #5f72bd 0%, #9b23ea 100%);
    color: #fff;
    font-size: 1.2em;
    border-radius: 5px;
}
.botonForm button:hover {
    background: linear-gradient(to bottom, #5f72bd 0%, #9b23ea 100%);
}

